@mixin shared {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(55, 70, 101);
	width: 83%;

	clear: both;
	min-height: 30px;
	max-height: 400px;
	overflow-y: auto;
}

#mi-textarea {
	@include shared;
	margin: -2px 2px 5px 0px;
	padding-left: 4px;
	border: 2px solid rgb(41, 79, 247);
	border-radius: 4px;
	resize: none;
	// height: 10px;
}

#mi-div {
	@include shared;
	padding-left: 6px;
	padding-bottom: 0px;
	margin-bottom: 7px;
	overflow-wrap: break-word;
}
