@mixin shared {
	padding: 0px;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(55, 70, 101);
	width: 83%;

	clear: both;
	min-height: 30px;
	max-height: 400px;
	overflow-y: auto;
}

#mi-textarea {
	@include shared;
	margin: -1px 0px 6px 0px;
	padding-left: 5px;
	border: 1x solid rgb(41, 79, 247);
	border-radius: 4px;
	resize: none;
}

#mi-div {
	@include shared;
	padding-left: 6px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	overflow-wrap: break-word;
}
