.row {
	display: flex;
}

.white {
	border: solid 1px grey;
	background-color: white;
}

.black {
	border: solid 1px grey;
	background-color: rgb(196, 196, 196);
}

#selected {
	background-color: blue;
}
